<div class="col-md-3 left_col">
    <div class="left_col scroll-view">
        <div class="navbar nav_title" style="border: 0;">
              <a href="#" class="site_title">
                <img src="{{ asset('logo.png') }}" alt="..." class="logo">
                 <span class="titlepage">Caja Petrolera de Salud</span></a>
        </div>

        <div class="clearfix"></div>

        <!-- menu profile quick info -->
        <div class="profile">
            <div class="profile_pic">
                <img src="{{asset('/gentelella/production/images/user.png')}}" alt="..." class="img-circle profile_img">
            </div>
            <div class="profile_info">

                <span>Bienvenido</span> <br>
                <span>{{ app.user.username }}</span> <br>
                <b style="color:white"></b>

            </div>
        </div>
        <!-- /menu profile quick info -->

        <div class="clearfix"></div>

        <!-- sidebar menu -->
        <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
            <div class="menu_section">
                <h3>Menu</h3>
                <ul class="nav side-menu">
                  <li><a href="{{path('labalmproductolab_index')}}"> <i class="fa fa-cubes" aria-hidden="true"></i> INSUMOS</a></li>
                  <li><a href="{{path('labalmingreso_index')}}"> <i class="fa fa-archive" aria-hidden="true"></i><i class="fa fa-arrow-left" aria-hidden="true"></i> INGRESOS</a></li>
                  <li><a href="{{path('labalmegreso_index')}}"> <i class="fa fa-archive" aria-hidden="true"></i><i class="fa fa-arrow-right" aria-hidden="true"></i> EGRESOS</a></li>
                  <li><a href="{{path('reporte_index')}}"> <i class="fa fa-bar-chart"></i> REPORTES</a></li>
                </ul>
            </div>

        </div>
        <!-- /sidebar menu -->

        <!-- /menu footer buttons -->
        <div class="sidebar-footer hidden-small">
            <a href="#" data-toggle="tooltip" data-placement="top" title="Settings">
                <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
            </a>
            <a data-toggle="tooltip" data-placement="top" title="FullScreen">
                <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
            </a>
            <a data-toggle="tooltip" data-placement="top" title="Lock">
                <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
            </a>

        </div>
        <!-- /menu footer buttons -->
    </div>
</div>
