{% extends 'base.html.twig' %}

{% block page_content %}
    <h1>PRODUCTO</h1>

    <table>
        <tbody>
            <tr>
                <th>COD. PROD.: </th>
                <td>{{ labAlmProductolab.producto.codpro }}</td>
            </tr>
            <tr>
                <th>PRODUCTO</th>
                <td>{{labAlmProductolab.producto.nombre}}</td>
            </tr>
            <tr>
                <th>SALDO</th>
                <td>{{ labAlmProductolab.stock }}</td>
            </tr>
            <tr>
                <th>TIPO</th>
                <td>{{ labAlmProductolab.tipo }}</td>
            </tr>
            <tr>
                <th>MINIMO</th>
                <td>{{ labAlmProductolab.minimo }}</td>
            </tr>
            <tr>
                <th>PRESENTACION</th>
                <td>{{ labAlmProductolab.presentacion }}</td>
            </tr>
            <tr>
                <th>ESTADO</th>
                <td>{{ labAlmProductolab.estado }}</td>
            </tr>
            
        </tbody>
    </table>

            <a href="{{ path('labalmproductolab_index') }}" class="btn btn-default">Ir al Listado</a>
      
            <a href="{{ path('labalmproductolab_edit', { 'id': labAlmProductolab.id }) }}" class="btn btn-warning">Editar</a>
            <a href="{{ path('labalmproductolab_delete', { 'id': labAlmProductolab.id }) }}" class="btn btn-danger">Eliminar</a>
{% endblock %}
